.body {
    background-color: brown;
}

.container {
    margin: 30px;
    border: solid red;
}

.row {
    border: solid black;
    margin: 5px;
}

.container > .row {
    height: 500px;
}

.col {
    border: dotted blue;
}